article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl font-bold my-7;
    }

    h2 {
        @apply text-xl font-bold my-7;
    }

    h3 {
        @apply text-lg font-bold my-7;
    }

    p, ul, ol {
        a {
            @apply text-white underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

.cat-navigation a {
    @apply border-white border-2 p-2 mr-5 rounded-lg;
}

.cat-navigation a.active, .cat-navigation a:hover {
    @apply bg-white text-dark;
}

.portfolio-grid {

    h2 {
        @apply text-xl font-bold;
    }
}
.changefill .svg {
    fill: #6EACDA;
}

.changefill:hover .svg{
    fill: white;
}